body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Titillium Web", sans-serif; 
}
/* Hero Section */
.main-hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/home-bg-img1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}


/* Tagline */
.tagline-container{
    margin-left: 60px;
    margin-top: 10px;   
}

.tagline{
    margin: 0;
    font-size: 30px;
    color: rgb(209, 215, 85);
    font-weight: 600;
}

.search-container{
    margin: 10px 60px;
}

.search-box{
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
}

 