body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Titillium Web", sans-serif; 
    background-color: #E4E0E1;
}

/* Hero Section */
.main-hero-section{
    position: relative;
    height: 100vh;
    margin: 0;

    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url("../images/home-bg-img1.jpg");
    background-size: cover;
    background-position: center;

    /* Statistics  */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    padding-top: 15%;        
    box-sizing: border-box;
}


    /* Tagline  */
.tagline-container{
    margin-left: 60px;
    margin-top: 10px;   
}

.tagline{
    margin: 0;
    font-size: 30px;
    color: rgb(212, 216, 145);
    font-weight: 600;
}

.description{
    color: whitesmoke;
    font-size: 25px;
    font-weight: 900;
}

/* Statistics */
.statistics-container{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-left: 30px;
    text-align: center;
}

.statistics-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.statistics-number{
    font-size: 35px;
    font-weight: bold;
}

.statistics-number img{
    vertical-align: middle;
    margin-left: 5px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scroll-nav {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding: 20px;
    background: #f5f5f5;
   margin-bottom: 20px;
    scroll-behavior: smooth;
}

.scroll-nav::-webkit-scrollbar {
    display: none;
}

.scroll-nav a {
    flex: 0 0 auto;
    text-decoration: none;
    background: white;
    padding: 10px 18px;
    border-radius: 20px;
    color: black;
    font-size: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/* Hover */
.scroll-nav a:hover {
    background: #4b5320;
    color: white;
}



.main-card-container{
    background-color: rgb(244, 230, 230);
    width: 95%;
    margin-left: 35px;
    height: 500px;
    border-radius: 30px;
}

.heading{
    display: block;
    width: fit-content;
    margin: 30px auto;   
    padding: 12px 30px;
    color: black;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

/* Each row */
.card-container{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
    width: 90%;
    align-items: center;
    margin-left: 50px;
   
}
     
     /* Individual card */
.card{ 
   text-align: center;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
    width: 100%;
} 

         /* Hover */
.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
} 
                
    /* Card image */ 
.card-img{ 
     width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
} 
                    
     /* Card heading */ 
.card h3 {
    margin: 10px 0 5px;
    font-size: 16px;
} 
                        
    /* Card paragraph */ 
.card p { 
    margin: 0; 
    font-size: 14px;
    color:#555;
}


    /* Button */
.btn{ 
  
    width: 18px;
    height: 18px;
    padding: 10px;
    background: rgb(113, 18, 18);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px; 
}

/* arrow image */
.btn img{
    width: 18px;
    margin-bottom: 20px;   
    font-weight:bolder;
}

/* hover */
.btn:hover{
    background: #4c531c;
}


    @media (max-width: 1024px) {
.card-container {
    grid-template-columns: repeat(2, 1fr);
}
}

    @media (max-width: 600px) {
.card-container {
    grid-template-columns: 1fr;
}
}


    /* Tagline  */
.tagline-container{
    margin-left: 60px;
    margin-top: 10px;   
}

.tagline{
    margin: 0;
    font-size: 30px;
    color: rgb(212, 216, 145);
    font-weight: 600;
}

.description{
    color: whitesmoke;
    font-size: 25px;
    font-weight: 900;
}

.why-us{
    padding: 40px;
    text-align: center;
    background: #f8f8f8;
}

.why-heading{
    margin-bottom: 30px;
    font-size: 26px;
}

.why-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.why-card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.why-card:hover{
    transform: translateY(-5px);
}

.why-card h3{
    margin-bottom: 10px;
}

.why-card p{
    font-size: 14px;
    color: gray;
}

/* Footer */
body {
    margin: 0;
    padding: 0;
}
.footer{
    background:rgb(47, 1, 1);
    color: #fff;
    padding: 30px 0;  
    margin-top: 40px;
}

/* Container */
.footer-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;  
    gap: 20px;  
    padding: 0 30px;
    align-items: start;
}

/* Sections */
.footer-section h3{
    margin-bottom: 8px;
}

.footer-section p{
    font-size: 14px;
    color: #ccc;
    margin: 5px 0;
}

/* About Section  */
.about-row{
    display: flex;
    align-items: center;
    gap: 30px;   
}

/* Logo */
.logo-box img{
    width: 160px;  
}

/* Description */
.desc-box{
    max-width: 400px;
    font-size: 14px;
    line-height: 1.5;
}

/* Tagline */
.tagline-2{
    text-align: center;
    margin-top: 15px;  
    font-size: 16px;
    color: #ddd;
}

/* Links */
.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li{
    margin: 6px 0;
}

.footer-section ul li a{
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover{
    color: white;
}

/* Contact */
.contact-link{
    display: block;
    color: #ccc;
    margin: 4px 0;
    text-decoration: none;
}

.contact-link:hover{
    color: white;
}

/* Bottom */
.footer-bottom{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #333;
    font-size: 13px;
}

.social-icons{
    margin-top: 10px;
    padding-top: 20px;
}

.social-icons a{
    display: inline-flex;
    align-items: center;
    justify-content: right;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-bottom:10px ;
    transition: 0.3s;
}

/* Hover Effects */
.social-icons a:hover{
    transform: scale(1.1);
}

.location-iocon:hover{

 transform: scale(1.1);
}

.tagline-2{
    font-weight: 600;
}

.desc-box{
     font-weight: 400;
     font-size: 16px;
}